nav.navbar.navbar-default(role='navigation')
	.container-fluid
		.navbar-header
			a.navbar-brand(href='/admin') 翻转课堂
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='#') 主页
				li.dropdown
					a.dropdown-togglen(href='#', data-toggle='dropdown', role='menu', aria-expanded='false') 用户
						span.glyphicon.glyphicon-chevron-down(style="font-size:10px; padding-left:2px;color: #717272;")
					ul.dropdown-menu.dropdown-menu-left(role='menu')
						li(role='presentation')
							a(href='#') 新建用户
						li.divider(role='presentation')
						li(role='presentation')
							a(href='#') 管理用户
				li.dropdown
					a.dropdown-togglen(href='#', data-toggle='dropdown', role='menu', aria-expanded='false') 角色
							span.glyphicon.glyphicon-chevron-down(style="font-size:10px; padding-left:2px;color: #717272;")
					ul.dropdown-menu.dropdown-menu-left(role='menu')
						li(role='presentation')
							a(href='#') 查看
						li.divider(role='presentation')
						li(role='presentation')
							a(href='#') 管理
				li
					a(href='#') 统计
			ul#user.nav.navbar-nav.navbar-right
				li
					a#msg-show(href='/message', data-toggle='tooltip',data-placement="bottom" title='我的消息')
						span.glyphicon.glyphicon-comment(aria-hidden='true')
						span.badge(style="padding:2px;position: relative; top: -12px;background-color:red;") 14
						//span#msgNum 2
				li.dropdown
					a.dropdown-togglen(href='#', data-toggle='dropdown', role='menu', aria-expanded='false')
						img(src='/images/avatar.jpg', width='20', height='20')
						span= nickname
							span.glyphicon.glyphicon-chevron-down(style="font-size:10px; padding-left:2px;color: #717272;")
					ul.dropdown-menu.dropdown-menu-right(role='menu')
						li(role='presentation')
							a(href='/admin/settings')
								span.glyphicon.glyphicon-cog(aria-hidden='true')
								span(style='padding-left:10px;') 设置
						li.divider(role='presentation')
						li
							a(href='/admin/logout', role='presentation')
								span.glyphicon.glyphicon-off(aria-hidden='true')
								span(style='padding-left:10px;') 退出
			form.navbar-form.navbar-right(role='search')
				.input-group
					input.form-control(type='text', placeholder='搜索课程、问答')
					span.input-group-btn
						a.btn.btn-default(role='button')
							span.glyphicon.glyphicon-search(aria-hidden='true') 