.thumbnail
	a(href="/settings/profile", data-toggle="tooltip", title="修改头像")
		img(data-src="holder.js/100%x200", alt="", src="/uploads/image/avatar/#{avatar}", width="220", height="220")
	.caption
		.thumbnail-name
			h3= account.nickname
		.thumbnail-regtime
			span.glyphicon.glyphicon-time
			span 加入时间
			time.join-date= moment.tz(account.createTime,zone).format("YYYY-MM-DD")
		//- .thumbnail-signature
		//- 	p#signed.signed= account.signature
		//- .thumbnail-stats
		//- 	a
		//- 		strong 0
		//- 		span.text-muted 关注
		//- 	a
		//- 		strong 0
		//- 		span.text-muted 粉丝
		//- 	a
		//- 		strong 0
		//- 		span.text-muted 赞同

//- //<div class="thumbnail">							
//- 	//<div class="thumbnail-signature">
//- 		//<span class="glyphicon glyphicon-book"></span>
//- 		//<span class="glyphicon glyphicon-question-sign"></span>
//- 		//<span class="glyphicon glyphicon-question-sign"></span>
//- 		//<span class="glyphicon glyphicon-question-sign"></span>
//- 	//</div>
//- //</div>