meta(charset="UTF-8")
meta(name="viewport",content="width=device-width,initial-scale=1")
title= title
link(href="/images/logo.jpg", type="image/jpeg", rel="icon", sizes="16x16")
link(href="/libs/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/styles/admin.css", rel="stylesheet")
script(src="/libs/bower_components/jquery/dist/jquery.min.js")
block head