doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		title= title
		link(href="/images/logo.jpg", type="image/jpeg", rel="icon", sizes="16x16")
		link(href="/libs/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/styles/common.css", rel="stylesheet", type="text/css")
		link(href="/styles/animate.css", rel="stylesheet")
		block script
		script(src="/libs/bower_components/jquery/dist/jquery.min.js")
	body
		.page-loading-overlay
			.loader
		include ./includes/header-nav.jade
		block content
		div#modal.modal.fade
			include ./includes/modal.jade
		script(src="/libs/bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="/js/support.js", type="text/javascript")