extends ../userlayout.jade
	
block content
	.container
		.content
			-var chapter = ['第一章','第二章','第三章','第四章','第五章','第六章','第七章']
			h3= course.title
		.row
			.col-md-7
				.course_chapter_list
				each item, index in course.details
					if item.subs.length>0
						.chapter
							h3
								span.glyphicon.glyphicon-list(style="float:left;top:12px; left:5px;color:green;")
								strong= chapter[item.chapter-1]+' '+item.title
								span +
							ul.sub(style="display:none;")
								each sub, index in item.subs
									li
										a(href="#", target="_blank")= sub.title
					else
						.unopen
							h3
								span.glyphicon.glyphicon-list
								strong= chapter[item.chapter-1]+item.title
								em 暂未开放
	script.
		$(function(){
			$('.chapter h3').click(function(event) {
				if ($(this).parent().hasClass('chapter-active')) {
					$(this).next('.sub').slideUp('fast', function() {
						$(this).parent().removeClass('chapter-active');
					});
					$(".chapter span:eq(1)").html('+')
				} else {
					$(this).next('.sub').slideDown('fast', function() {
						$(this).parent().addClass('chapter-active');
					});
					$(".chapter span:eq(1)").html('-')
				}
			});
		})