extends ../layout.jade
block head
	script(src="/static/libs/underscore-min.js")
block content
	.row-fluid
		.page-header
			h1 用户列表
		table.table.table-striped.table-bordered.table-hover.table-condensed
			- var totle = count
			- var pageSize = 20;
			- var pageNum = Math.ceil(totle/pageSize);
			thead
				tr
					th 序号
					th 用户名
					th 邮箱
					th 注册时间
					th 状态
			tbody
		nav
			ul.pagination
				li#previous
					a(href='javascript:;', aria-lable='Previous')
						span(aria-hidden='true') &laquo;
				- for (var i=0; i < pageNum; i ++)
					li
						a(href="javascript:;")= i+1
				li#next
					a(href='javascript:;', aria-label='Next')
						span(aria-hidden='true') &raquo;
		script.
			$(function(){
				var pageSize = 20
				var $previous = $('#previous')
				var $next = $('#next');
				(function init(){
					$('.pagination li').eq(1).addClass('active')
					getUserList(1)
				})();
				function getUserList(page){
					$.ajax({
							url: '/admin/userpagination?page='+page,
							type: 'GET',
							dataType: 'json'
						})
						.done(function(data){
							
							pagination();
							$('table tbody').empty();
							var template = _.template("<tr><td><%= index %></td><td><%= data.nickname %>\
								</td><td><%= data.email %></td><td><%= data.createTime.substring(0,10) %>\
								</td><td><%= data.role %></td></tr>");
							data.forEach(function(user, index){
								$('table tbody').append(template({index: (page-1)*pageSize+index+1,data: user}));	
							})
						})
				}
				$('.pagination li a').click(function(e){
					var $parentNode = $(this).parent();
					var isDisabled = $parentNode.hasClass('disabled')
					if(!isDisabled){
						var isActive = $(this).parent().hasClass('active')
						var $current = $(this).parent()
						$('.pagination li').removeClass('active')
						$current.addClass('active');
						if(!isActive){
							var page = $(this).html();
							getUserList(page);
						}
					}				
				});
				function pagination() {
					var maxPage = $('.pagination li').length -2
					var currentPage =$('.pagination li.active a').html()
					if(maxPage == 1){
						$('.pagination li').eq(0).addClass('disabled')
						$('.pagination li').eq(-1).addClass('disabled')
						return;
					}
					if(currentPage == 1 ){
						$('.pagination li').eq(0).addClass('disabled')
						$('.pagination li').eq(-1).removeClass('disabled')
					}else if(currentPage == maxPage) {
						$('.pagination li').eq(-1).addClass('disabled')
						$('.pagination li').eq(0).removeClass('disabled')
					}else{
						$('.pagination li').eq(0).removeClass('disabled')
						$('.pagination li').eq(-1).removeClass('disabled')
					}
				}
				
			})
