extends ../userlayout.jade

block script
	//script(data-main="js/account/boot", type="text/javascript", src="/libs/require.js")
block content
	div.container
			div#content
				div#myspace
					.row
						.col-md-9
							.alert.alert-info(role="alert")
								p
									strong 小提示 
									| 完善个人信息,让更多的朋友发现你。
									a.btn.btn-success.btn-sm(href="/settings")
										span.glyphicon.glyphicon-pencil
										| 现在编辑
							ul#userTab.nav.nav-tabs
								li#statusNav.active(role="presentation")
									a(href="#status", role="tab", aria-expanded="true",aria-control="status" data-toggle="tab") 最新动态
								li#followNav(role="presentation")
									a(href="#follow", role="tab", aria-expanded="true",aria-control="status" data-toggle="tab") 关注
								li#followNav(role="presentation")
									a(href="#course", role="tab", aria-expanded="true",aria-control="status" data-toggle="tab") 课程
							.tab-content#userTabContent
								.tab-pane.active#status(role="tabpanel")
									each status in account.status
										.profile-item
											span(style="float:right;")= status.time
											.activity
												| status.type
												a.question_link(href='#')= status.title
								.tab-pane#follow(role="tabpanel")
									.profile-item
										span(style="float:right;") 124
										.activity
											| status.type
											a.question_link(href='#') 345
								.tab-pane#course(role="tabpanel")
									each status in account.status
										.profile-item
											span(style="float:right;")= status.time
											.activity
												| status.type
												a.question_link(href='#')= status.title
							//- 动态
						.col-md-3
							include ../includes/thumbnail.jade