extends ../userlayout.jade
	
block script
	script(data-main="/js/course/list/boot", type="text/javascript", src="/static/libs/require.js")
block content
	.container
		.row
			.col-md-2
				nav.menu.course-sidebar
					h3.menu-heading 课程
					.menu-item.selected
						a(href='#') 全部
					each category in categories
						.menu-item
							a(data-cateid="#{category._id}")= category.name
							if category.subCategories.length>0
								.course-subcategory
									.course-subcategory-bg
									ul
										each sub in category.subCategories
											li
												a(data-subid="#{sub.id}")= sub.name
			.col-md-9
				ol.breadcrumb.course-tools
					li: a(href="#") 全部
				.row.course-list