extends ../userlayout.jade

block script
  script(data-main="/js/settings/boot", type="text/javascript", src="/static/libs/require.js")
block content
  #content
    .container
      .setting-left.col-sm-2
        nav.menu
          h3.menu-heading 个人设置
          //- a#menu-profile.menu-item(href='/settings/profile') 个人资料
          a#menu-avatar.menu-item(href='/settings/avatar') 头像设置
          //- a#menu-email.menu-item(href='/settings/email') 邮箱验证
          a#menu-password.menu-item(href='/settings/password') 修改密码
          a#menu-feedback.menu-item(href='/settings/feedback') 意见反馈
      .setting-content-wrap.col-sm-10
        block settings